<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Web-based mind-map of A-level maths topics | FMSPW / Swansea University</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="https://furthermaths.wales/wp-content/uploads/2021/02/cropped-Artboard-1-copy-3-32x32.png" sizes="32x32">
    <link rel="icon" href="https://furthermaths.wales/wp-content/uploads/2021/02/cropped-Artboard-1-copy-3-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="https://furthermaths.wales/wp-content/uploads/2021/02/cropped-Artboard-1-copy-3-180x180.png">
    <meta name="msapplication-TileImage" content="https://furthermaths.wales/wp-content/uploads/2021/02/cropped-Artboard-1-copy-3-270x270.png">
    <script src="https://use.fontawesome.com/f1f416af21.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main>
      <%= render partial: "home/contextMenu" %>
      <%= render partial: "modals/motivations" %>
      <%= render partial: "menu/actions" %>
      <%= yield %>
    </main>
  </body>
</html>
